.headerImg {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  margin-left: 0%;
}

.container {
  width: 100%;
  margin: 0%;
  padding: 0;
  min-width: 100%;
}

html, body {
  margin: 0%;
}

h1 {
  margin-left: 10%;
}

.hotels {
  width: 80%;
  margin: auto;
  max-width: 1800px;
  margin-top: 40px;
}

.searchHotel {
  float: left;
  max-width: 20%;
}

.hotel {
 border: 1px solid black;
 width: 80%;
 margin-bottom: 15px;
 display: flex;
 flex-direction: row;
 margin-left: 20%;
}

.hotelImg{
  width: 100px;
  height: auto;
  flex: 0.5 1 auto;
}

.hotelTitle {
  flex: 2 1 auto;
  padding-left: 2em;
}

.hotelPrice {
  flex: 0.5 1 auto;
  flex-direction: column;
  align-self:flex-end;
  align-items: flex-end;
}


.priceSpan {
  color: green;
  font-weight: bold;
  font-size: 20px;
}
