.hotels {
    margin-top: 40px;
}
  
.searchHotel {
    float: left;
    font-size: 18px;
    width: 20%;
}

.searchHotel > h2 {
    font-size: 20px;
}

.sortHotel {
    width: 50%;
    left: 0;
    margin-top: 20px;
}
  
.hotel {
   background-color: #fef;
   width: 80%;
   margin-bottom: 15px;
   display: flex;
   flex-direction: row;
   margin-left: 20%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}
  
.hotelImg{
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding: 0.5em;
}

  
.hotelTitle {
    margin-top: 1em;
}
  
.middle {
    margin-left: 2em;
    flex: 22 1 auto;
    text-align: left;
}
  

.hotelPrice {
    flex: 0.5 1 auto;
    align-self:flex-end;
}
  
  
.priceSpan {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.stars {
    margin-top: 20px;
}

