.messages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
       }
       @media (max-width: 800px) {
        grid-template-columns: 1fr;
       }
}

.messageBox {
    border: 1px solid grey;
    border-radius: 1em;
    padding: 1em;
}

.messageLabel {
    font-size: 20px;
}

.adminLink {
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 1em 3em;
    margin-left: 2em;
    margin-top: 2em;
}

.adminLink:hover {
    color: white;
}