.messages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
       }
       @media (max-width: 800px) {
        grid-template-columns: 1fr;
       }
}

.messageBox {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1em;
    padding: 1em;
}

.messageLabel {
    font-size: 20px;
}

.adminLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 992px) {
        grid-template-columns: 1fr;
       }
}

.adminLink {
    font-size: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    border-radius: 2em;
    padding: 0.3em 0em;

}

.adminLink h2 {
    color: white;
}

