.messages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
       }
       @media (max-width: 800px) {
        grid-template-columns: 1fr;
       }
}

.messageBox {
    border: 1px solid #D3D3D3;
    border-radius: 0.5em;
    padding: 1em;
}

.messageLabel {
    font-size: 20px;
}

.adminLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 60%;
    grid-gap: 2em;
    @media (max-width: 992px) {
        grid-template-columns: 1fr;
       }
}

.adminLink i {
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin-top: 1em;
}

.adminDropdown {
    float: right;
    margin-top: 15px;
    margin-right: 10%;
    @media (max-width: 992px) {
        margin-right: 5%;
       }
}

.adminContentTitle {
    font-family: $body-font;
    text-align: left;
    font-size: 30px;
}


.adminLink h2 {
    color: white;
    font-size: 26px;
    background-color: $primary-colour;
    color: white;
    text-align: center;
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 0.5em 0em;
}

