.formError {
    color: red;
    margin-left: 15%;
    @media (max-width: 992px) {
        margin-left: 5%;
        }
}

.formInput {
    display: block;
    margin: auto;
    width: 70%;
    border: 1px solid grey;
    border-radius: 0.2em;
    @media (max-width: 992px) {
        width: 90%;
        }
}

.formLabel {
    margin-left: 15%;
    margin-top: 1em;
    display: block;
    @media (max-width: 992px) {
        margin-left: 5%;
        }
}

.form {
    width: 60%;
    max-width: 800px;
    border: 1px solid #D3D3D3;
    margin: auto;
    padding: 1em;
    margin-top: 2em;
    padding-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    @media (max-width: 992px) {
      width: 100%;
       }
}

.formBtn {
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: none;
    background-color: #2B7EFF;
    color: white;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    font-size: 20px;
    text-align: center;
    @media (max-width: 992px) {
        font-size: 16px;
        }
}

#contained-modal-title-vcenter {
    margin-left: 15%;
    @media (max-width: 992px) {
        margin-left: 5%;
        }
}

.expDate {
    width: 10%;
    margin-left: 15%;
    display: inline;
    margin-right: 5px;
    @media (max-width: 992px) {
        margin-left: 5%;
        width: 20%;
        }
}

.month {
    margin-left: 5px;
}

.securityCode {
    width: 10%;
    margin-left: 15%;
    @media (max-width: 992px) {
        margin-left: 5%;
        width: 20%;
        }
}

.formMessage {
    color: green;
    text-align: center;
}

.addHotelForm {
    width: 100%;
    min-width: 100%;
}