.formError {
    color: red;
    margin-left: 15%;
}

.formInput {
    display: block;
    margin: auto;
    width: 70%;
}

.formLabel {
    margin-left: 15%;
    margin-top: 1em;
}

.form {
    background-color: lightblue;
    width: 60%;
    margin: auto;
    min-height: 60vh;
    padding: 2em;
}

.formBtn {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 1em;
}