.formError {
    color: red;
    margin-left: 15%;
}

.formInput {
    display: block;
    margin: auto;
    width: 70%;
}

.formLabel {
    margin-left: 15%;
    margin-top: 1em;
}

.form {
    background-color: lightblue;
    width: 60%;
    margin: auto;
    min-height: 60vh;
    padding: 1em;
    margin-top: 2em;
    border-radius: 1em;
}

.formBtn {
    display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: none;
    background-color: blue;
    color: white;
    padding: 0.5em 6em;
    border-radius: 2em;
    font-size: 20px;
    text-align: center;
}