html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0%;
    padding: 0;
    width: 80%;
    margin: auto;
    max-width: 1800px;
    min-height: 85vh;
  }


.footer {
    width:100%;
    height: auto;   /* Height of the footer */
    background-color: grey;
    color: white;
  
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
  @media (max-width: 992px) {
    display: block;
    padding-bottom: 4em;
  }
}

.footerLink {
  color: white;
  display: inline;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
}

.footerLink:hover {
  opacity: 0.8;
}

.footerLinks {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 30px;
}

.footerIcons {
    font-size: 25px;
    margin-left: 5%;
    @media (max-width: 992px) {
      text-align: center;
      margin: 0%;
    }
  }
  
  #footerCopyright {
    margin-right: 3%;
    @media (max-width: 992px) {
      float: right;
      margin-right: 2%;
      margin-top: 1em;
    }
  }
  
  #footerEmail {
    text-align: center;
    @media (max-width: 992px) {
      float: left;
      margin-left: 2%;
      margin-top: 1em;
    }
  }
  
  #instagram {
    margin-right: 7px;
  }
  
  #twitter {
    margin-left: 7px;
  }