.nav-brand {
    font-size: 30px;
    margin-left: 2em;
    font-family: $heading-font;
    @media (max-width: 992px) {
      text-align: center;
      margin-left: 1em;
       }
}

.ms-auto {
    margin-right: 2em;
    font-size: 18px;
    @media (max-width: 992px) {
        text-align: center;
        width: 100%;
       }
}

.navbar-light .navbar-nav .nav-link.active{
    color: red;
    font-weight: bold;
    @media (max-width: 992px) {
        background-color: grey;
       }
}

.signOut{
    color: inherit !important;
    font-weight: inherit !important;
}

.navBar {
    box-shadow: 0 2.5px 3px -2px grey;
}



.ms-auto .active {
    color: blue;
}