.nav-brand {
    font-size: 30px;
    margin-left: 2em;
    font-family: $heading-font;
    @media (max-width: 992px) {
      text-align: center;
      margin-left: 1em;
       }
}

.ms-auto {
    margin-right: 2em;
    font-size: 18px;
    @media (max-width: 992px) {
        text-align: center;
        width: 100%;
       }
}

.navbar-light .navbar-nav .nav-link.active{
    color: $primary-colour;
    border-bottom: 1px solid $primary-colour;
    @media (max-width: 992px) {
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
       }
}

.signOut{
    color: #898A8A !important;
    font-weight: inherit !important;
    border-bottom: none !important;
    border: none !important;
}

.navBar {
    box-shadow: 0 2.5px 3px -2px $border-colour;
    z-index: 2;
}

